.App {
  text-align: center;
  background-color: #1b1720;
}

.logo {
  width: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cabecera {
  padding: 30px;
  height: 160px;
  background-color: #bbdf20;
  justify-content: center;
}

#cabecera a {
  text-decoration: none;
  color: black;
  padding-bottom: 36px;
}


.spinner {
  padding: 30px;
  margin-bottom: 400px;
  color: #bbdf20;
}

#selector {
  margin-bottom: 16px;
}

#productosresultados li {
  list-style-type: none;
}

.product-row {
  padding: 36px;
}



.product-detail-title {
  margin-top: 32px;
}

#error-page {
  background-color: #bbdf20;
  padding: 300px 100px;

}